
.nav-bar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    font-family: "Libre Baskerville";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    justify-content: right;
    margin-right: 5%;
    
}

.nav-link {
    padding-top: 25px;
    padding-right: 5%;
}

.nav-link a {
    text-decoration: underline;
    color: black;
}

.nav-link a:hover {
    text-decoration: underline;
}


  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    border: solid;
    border-color: black;
    border-radius: 5px;
}

  /* Links inside the dropdown */
.dropdown-content a {
    font-family: "Libre Baskerville";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff;}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.home-header {
    justify-content: center;
    text-align: center;
    align-items:center;
    margin:auto;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 754px;
    height: 150px;

    color: #030303;
    font-family: "Libre Baskerville";
    font-size: 20px; 
    font-weight: lighter;
    line-height: normal;
}



.project-grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.project-row {
    display: flex;
    flex-direction: row;
}

.project-container {
    width: 494px;
    padding-right: 5%;
    margin-bottom: 3%;
}

.project-inner-container {
    width: 494px;
    height: 300px;
    display:flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.project-img {
    width: 300px;
    height: 195px;
    transition: transform 0.3s ease-in-out; /* Adding a smooth transition effect */
    cursor: pointer; /* Changing cursor to a hand */
}

.project-img:hover {
    transform: scale(1.03); /* Increasing size by 3% */
}

.project-title{
    margin-bottom: 0;
    color: #030303;
    font-family: "Libre Baskerville";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.project-link {
    color: #030303;
    font-family: "Libre Baskerville";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.project-desc {
margin-top: 0.5;
color: #030303;
}





